<div>
  <h3>This is a Attribute Directives</h3>
  <span [class.red]="true">Attribute Change</span>
  <br/>
  <span [ngClass]="{'blue':true}">
    Attribute Change by Using NgClass
  </span>
  <br/>
  <span [ngStyle]="{'font-size':'14px', 'color': 'green'}">
    Attribute Change by Using NgStyle
  </span>
  <br/><br/>


  <span [class.cyan]="showColor">Attribute Change</span>
  <br/>
  <span [ngClass]="{'brown':showColor}">
    Attribute Change by Using NgClass
  </span>
  <br/>
  <input type="button" value="Change Color"
  (click)="changeColor()"/>
  <br/><br/>


  <span [class.cyan]="showColor">Attribute Change</span>
  <br/>
  <span [ngClass]="{'cyan':showColor, 'red' : !showColor}">
    Attribute Change by Using NgClass</span>
    <br/><br/> 
</div>

<input type="button" [value]="caption"/>
<h2 *ngIf>
  <span>Conditional Directive - *ngIf</span>
</h2>